/* ===============
GENERAL
================== */

body {
    background-color: hsla(0, 0%, 0%, 0.9);
    background-image: url(./svg/wave-haikei.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    color: #f5f5f5;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

button {
    padding: .3em .5em;
    border: 0;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}

button:focus {
    outline: 1px solid hsla(0, 0%, 20%, 0.8);
}

.header button:focus {
    outline: 1px solid black;
}

input {
    border: 1px solid hsla(0, 0%, 50%, 0.3);
    padding: .2em .4em;
    border-radius: 5px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* ===============
UTILITY
================== */

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ===============
TYPOGRAPHY
================== */

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

.warning {
    margin: .5rem 0;
    color: red;
    font-weight: 700;
}

/* Text ends with three dots upon reaching certain point (236px of width) */
.bookmark-block h2,
.list-item h3 {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	width: 236px;
}

.accent-text,
a {
    color: #0066FF
}

/* ===============
LAYOUT
================== */

/* Header */

.header {
    padding: 1em 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actions-container {
    margin-top: .5rem;
    font-size: .95rem;
    display: flex;
    justify-content: space-between;
    width: 25%;
}

/* Header buttons & search bar */

.header button {
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5em .5em;
    background-color: #0066FF;
    border: 5px solid #0066FF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-container {
    width: 35%;
    margin-top: 1rem;
    position: relative;
}

.search {
    display: block;
    width: 100%;
    font-style: italic;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.search-container::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url(/svg/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    top: 1ch;
    margin-left: .5rem;
}

/* Specific buttons - icons & hover states */

.new-bookmark-btn {
    background-image: url(./svg/header-buttons/add-default.svg);
}

.manage-bookmarks-btn {
    background-image: url(./svg/header-buttons/manage-default.svg);
}

.settings-btn {
    background-image: url(./svg/header-buttons/settings-default.svg);
}

.wipe-bookmarks-btn {
    background-image: url(./svg/header-buttons/trash-default.svg);
}

.new-bookmark-btn:hover,
.manage-bookmarks-btn:hover,
.settings-btn:hover,
.wipe-bookmarks-btn:hover {
    background-color: white;
    border: 5px solid white;
}

.new-bookmark-btn:hover {
    background-image: url(./svg/header-buttons/add-hover.svg);
}

.manage-bookmarks-btn:hover {
    background-image: url(./svg/header-buttons/manage-hover.svg);
}

.settings-btn:hover {
    background-image: url(./svg/header-buttons/settings-hover.svg);
}

.wipe-bookmarks-btn:hover {
    background-image: url(./svg/header-buttons/trash-hover.svg);
}

/* Bookmark blocks */

.bookmarks-container {
    padding: 1em 0;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 1rem;
    row-gap: 1.5rem;
    place-content: center;
}

.bookmark-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: #f5f5f5;
    background-color: #2d2d2d;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 10px;
}

.bookmark-block:hover,
.bookmark-block:focus {
    background-color: #424242;
}

.bookmark-block:focus {
    outline: 1px solid hsla(0, 0%, 50%, 0.8);
}

.bookmark-block-icon {
    width: 40px;
    height: 40px;
}

#placeholder-bookmark {
    width: 300px;
}

/* Modals */

dialog {
    padding: 0;
    padding-top: 2em;
    width: 45%;
    border: 1px solid hsla(0, 0%, 0%, 0.7);
    border-radius: 10px;
    max-height: 500px;
}

dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.5);
    opacity: .7;
}

/* General modal styles */

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 3em;
}

.modal-close-btn {
    background-color: #f5f5f5;
    border-radius: 100%;
    font-weight: 700;
    width: 2rem;
    height: 2rem;
    padding: .3em;
    box-sizing: content-box;
}

.modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 3em;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-inputs-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.modal-inputs-row input {
    min-width: 50%;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    background-color: #f5f5f5;
    padding: 1em 3em;
    margin-top: 2rem;
}

.modal-btn {
    background-color: #0066FF;
    color: white;
    font-weight: 600;
    padding: .3em 2em;
    border-radius: 10px;
}

.modal-btn-warning {
    background-color: red;
}

/* Bookmark managing modal */

.bookmarks-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 300px;
    overflow-y: auto;
}

.bookmarks-list .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em 1em;
    border: 1px solid hsla(0, 0%, 20%, 0.2);
    border-radius: 5px;
}

.bookmarks-list .list-item a {
    text-decoration: none;
}

.list-item-index {
    font-size: 2rem;
}

.list-item-body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.list-item-icon {
    display: inline;
    width: 16px;
    height: 16px;
    transform: translateY(.5em);
    margin-right: .5rem;
}

.edit-bookmark-btn:hover,
.edit-bookmark-btn:focus {
    color: #0066FF;
}

.remove-bookmark-btn:hover,
.remove-bookmark-btn:focus {
    color: red;
}

.edit-bookmark-btn::before,
.remove-bookmark-btn::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-right: .2em;
    transform: translateY(-.125em);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.edit-bookmark-btn::before {
    background-image: url(./svg/edit-icon-black.svg);
}

.remove-bookmark-btn::before {
    background-image: url(./svg/trash-icon-black.svg);
}

.edit-bookmark-btn:hover::before {
    background-image: url(./svg/edit-icon-blue.svg);
}

.remove-bookmark-btn:hover::before {
    background-image: url(./svg/trash-icon-red.svg);
}

/* Settings modal */

#custom-search-engine {
    width: 100%;
    max-width: 383px;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media (max-width:1722px) {
    .actions-container {
        width: 40%;
    }
}

@media (max-width:1510px) {
    .actions-container {
        width: 50%;
    }
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
    .actions-container {
        width: 60%;
    }

    dialog {
        width: 85%;
    }
}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 
    .actions-container {
        width: 70%;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .bookmarks-container {
       grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .actions-container {
        width: 100%;
    }

    dialog {
        width: 100%;
    }
}

@media (max-width:625px) {
    .bookmarks-container {
        grid-template-columns: 300px;
    }

    .actions-container .header-btn {
        font-size: .95rem;
    }
}

@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .header {
        width: 95%;
    }

    .actions-container {
        width: 85%;
    }

    .actions-container .header-btn {
        font-size: .8rem;
        padding: .2em .3em;
    }
}

@media (max-width:320px) { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .header, 
    .bookmarks-container {
        width: 100%;
    }

    .actions-container {
        gap: 1rem;
    }
}