*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

/*  -----------------
        STYLING 
    ----------------- */ 

/* General styles */

body {
    background-color: hsla(0, 0%, 0%, 0.9);
    color: #f5f5f5;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Utility */

.warning {
    color: red;
    font-weight: 700;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

.bookmark-block-letter {
    font-size: 2.5rem;
    text-transform: uppercase;
}

/* Header */

.header {
    /* margin: 0 auto; */
    padding: 1em 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.header-btn {
    padding: .3em .5em;
    border: 0;
    border-radius: 5px;
    background-color: white;
    font-size: 1rem;
    text-decoration: none;
}

/* Bookmark blocks */

.bookmarks-container {
    /* margin: 0 auto; */
    padding: 1em 0;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 1rem;
    row-gap: 1.5rem;
    place-content: center;
}

.bookmark-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    color: #f5f5f5;
    background-color: hsla(0, 0%, 20%, 0.8);
    text-decoration: none;
    padding: 1em 2em;
}

.bookmark-block h2 {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  	width: 236px;
}

.bookmark-block:hover,
.bookmark-block:focus {
    background-color: hsla(0, 0%, 30%, 0.8);
}

.bookmark-block:focus {
    outline: 1px solid hsla(0, 0%, 50%, 0.8);
}

.bookmark-block-icon {
    width: 40px;
    height: 40px;
}

/* Modals */

dialog {
    padding: 2em 3em;
    width: 65%;
    border: 1px solid hsla(0, 0%, 0%, 0.7);
    border-radius: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

dialog::backdrop {
    background-image: linear-gradient(180deg, hsla(0, 0%, 0%, 0.7), hsla(0, 0%, 0%, 0.1));
    opacity: .3;
}

/* General modal styles */

.modal-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.modal-body {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.modal-inputs {
    display: grid;
    grid-template-columns: 40% 40% 15.5%;
    gap: 1rem;
}

/* Bookmark wiping modal */

.wipe-all-bookmarks-btn {
    background-color: red;
    color: white;
    border: 0;
}

/* Bookmark managing modal */

.bookmarks-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bookmarks-list .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5em 1em;
    border: 1px solid hsla(0, 0%, 20%, 0.2);
    border-radius: 5px;
}

.bookmarks-list .list-item a {
    text-decoration: none;
}

.list-item-index {
    font-size: 2rem;
}

.list-item-body {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.list-item-icon {
    display: inline;
    width: 16px;
    height: 16px;
    transform: translateY(.5em);
    margin-right: .5rem;
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media (max-width:1722px) {
    .actions-container {
        width: 40%;
    }
}

@media (max-width:1510px) {
    .actions-container {
        width: 50%;
    }
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
    .actions-container {
        width: 60%;
    }

    dialog {
        width: 85%;
    }
}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 
    .actions-container {
        width: 70%;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .bookmarks-container {
       grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .actions-container {
        width: 100%;
    }

    dialog {
        width: 100%;
    }
}

@media (max-width:625px) {
    .bookmarks-container {
        grid-template-columns: 300px;
    }

    .actions-container .header-btn {
        font-size: .95rem;
    }
}

@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .header {
        width: 95%;
    }

    .actions-container {
        width: 85%;
    }

    .actions-container .header-btn {
        font-size: .8rem;
        padding: .2em .3em;
    }
}

@media (max-width:320px) { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .header, 
    .bookmarks-container {
        width: 100%;
    }

    .actions-container {
        gap: 1rem;
    }
}