/* ===============
VARIABLES & THEMES
================== */

.dark-theme,
:root {
    --clr-accent: hsl(205, 67%, 48%);
    --clr-body-bg: hsl(210, 11%, 11%);
    --clr-card-bg: hsl(255, 6%, 13%);
    --clr-fg: hsl(0, 0%, 96%);
    --clr-warning: hsl(0, 80%, 60%);

    --clr-modal-bg: hsl(255, 6%, 13%);
    --clr-modal-input-border: hsl(240, 3%, 30%);
    --clr-modal-contrast-bg: hsl(240, 2%, 16%);
}

.light-theme {
    --clr-body-bg: hsl(0, 0%, 96%);
    --clr-card-bg: none;
    --clr-fg: hsl(210, 11%, 11%);

    --clr-modal-bg: #fff;
    --clr-modal-input-border: hsl(264, 4%, 78%);
    --clr-modal-contrast-bg: hsl(260, 16%, 96%);
}

.light-theme .bookmark-block {
    border: 2px solid #e3e3e3;
}

/* ===============
GENERAL
================== */

body {
    background-color: var(--clr-body-bg);
    color: var(--clr-fg);
}

button:hover {
    cursor: pointer;
}

.webpage {
    min-height: 100vh;
    width: 70%;
    margin: 0 auto;
}

/* ===============
TYPOGRAPHY
================== */

body {
    font-family: 'Source Sans Pro', 'Trebuchet MS', sans-serif;
}

.bookmark-block h1,
.bookmarks-list-item-title {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 236px;
}

.bookmark-block-placeholder h1 {
    width: auto;
}

.bookmark-block h1 {
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.modal-header h1 {
    font-size: clamp(1.5rem, 3vw, 2rem);
}

/* ===============
LAYOUT
================== */

/* -- Header -- */

.site-header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--clr-accent);
    width: 100%;
    min-height: 5rem;
    border-bottom-left-radius: 100vmax;
    border-bottom-right-radius: 100vmax;
    padding-inline: 2rem;
}

.site-header-buttons-container {
    display: flex;
    gap: 2rem;
    transform: translateY(2rem);
}

.header-btn {
    --header-btn-size: 4rem;
    width: var(--header-btn-size);
    height: var(--header-btn-size);
    font-size: calc(var(--header-btn-size) - 2.5rem);
    border-radius: 50%;
    border: 0;
    padding: 0;
    background-color: white;
    transition: box-shadow 200ms ease-in-out;
}

.header-btn:hover {
    box-shadow: 0px 0px 10px 0px var(--clr-accent);
}

.header-btn:focus {
    outline: 2px solid var(--clr-accent);
    outline-offset: -3px;
}

/* -- Bookmark blocks -- */

.bookmarks-container {
    padding-top: clamp(5rem, 5vw, 10vw);
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.bookmark-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: var(--clr-card-bg);
    color: var(--clr-fg);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 150ms ease-in-out;
}

.bookmark-block:hover,
.bookmark-block:focus {
    outline: 0;
    box-shadow: 0px 0px 5px 0px hsla(264, 3%, 69%, 0.7);
}

.bookmark-block-placeholder {
    flex-grow: 1;
}

.bookmark-block-icon {
    min-height: 64px;
}

/* -- Bookmarks list -- */

.bookmarks-list {
    margin: 0;
    padding: 0;
}

.bookmarks-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-accent) #ffffff;
}

.bookmarks-list::-webkit-scrollbar {
    width: 12px;
}

.bookmarks-list::-webkit-scrollbar-thumb {
    background-color: var(--clr-accent);
    border-radius: 10px;
    border: 0px solid #ffffff;
}

.bookmarks-list-item {
    padding-block: 1rem;
    padding-inline: .5rem;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.bookmarks-list-item:not(.bookmarks-list-item:nth-child(1)) {
    border-top: 1px solid var(--clr-modal-contrast-bg);
}

.bookmarks-list-item-meta {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.bookmarks-list-item-icon {
    width: 2em;
    height: 2em;
}

.bookmarks-list-item-actions {
    display: flex;
    gap: 1rem;
}

.bookmarks-list-item-edit-btn, 
.bookmarks-list-item-remove-btn {
    min-width: 112px;
    border-radius: 5px;
    padding-block: .5em;
    padding-inline: 1em;
    border: 0;
    background-color: var(--clr-modal-contrast-bg);
    color: var(--clr-fg);
}

.bookmarks-list-item-remove-btn {
    color: white;
    background-color: var(--clr-warning);
}

.bookmarks-list-item button i {
    margin-right: .5rem;
}

/* -- Github link -- */

.github-link {
    text-decoration: none;
    color: var(--clr-fg);
    display: block;
    position: absolute;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    bottom: 1%;
    right: 1%;
    border-radius: 50%;
    z-index: 999;
}

/* -- Modals --  */

.app-modal {
    padding: 0;
    border: 0;
    min-width: 50%;
    border-radius: 15px;
}

.app-modal::backdrop {
    background-color: hsla(210, 100%, 0%, 0.5);
}

.app-modal button:not(.modal-header button) {
    min-width: 132px;
}

.app-modal,
.modal-body {
    background-color: var(--clr-modal-bg);
    color: var(--clr-fg);
}

.modal-header,
.modal-content {
    max-width: 90%;
    margin: 0 auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 2rem;
}

.modal-header .modal-close-btn {
    background-color: var(--clr-modal-contrast-bg);
    color: var(--clr-fg);
    border: 0;
    border-radius: 10px;
    min-height: 40px;
    aspect-ratio: 1;
    font-weight: 900;
}

.modal-content {
    max-height: 300px;
    overflow-y: auto;
    padding-block: 2rem;
    /* Margin block is set so that the scrollbar doesn't stick to the main close button and the footer */
    margin-block: .5rem;
}

.modal-section:not(.modal-section:nth-child(1)) {
    padding-block-start: 1rem;
    border-top: 2px solid var(--clr-modal-contrast-bg);
}

.modal-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
}

.modal-form input {
    color: var(--clr-fg);
    border: 1px solid var(--clr-modal-input-border);
    border-radius: 15px;
    padding-inline: .7em;
    padding-block: .3em;
    max-height: 40px;
    background-color: var(--clr-modal-contrast-bg);
}

.modal-form input:focus {
    outline: 0;
    box-shadow: 0px 0px 5px 2px var(--clr-accent);
}

.modal-form label {
    padding: .5em 0;
}

.modal-footer {
    background-color: var(--clr-modal-contrast-bg);
    padding-block: 1rem;
}

.modal-footer-inner {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

.modal-footer button {
    border-radius: 10px;
    padding: .3em 1em;
    border: 0;
    font-weight: 600;
    min-width: 80px;
}

.modal-footer-btn {
    background-color: var(--clr-accent);
    color: white;
}

.modal-footer-btn-warning {
    background-color: var(--clr-warning) !important;
}

.app-modal button:hover,
.app-modal button:focus,
.app-modal input:focus {
    outline: 0;
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 0.3);
}

/* Modal specific styles */

.app-settings-form {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
}

.app-settings-form input[type='color'] {
    appearance: none;
    background-color: transparent;
    max-width: 32px;
    min-height: 32px;
    border-radius: 50%;
    border: none;
}

/* ===============
MEDIA QUERIES
================== */

@media (max-width: 600px) {

    .app-modal {
        min-width: 85%;
    }

    .root {
        width: 90%;
    }

    .modal-form {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 450px) {

    .root {
        width: 98%;
    }

}